{% extends 'plantillaAdmin.html' %}

{% block body%}

<div class="mt-5 mb-5"><h1 class="display-1 text-center">Edición de Medicos</h1></div>

    
    

<div class="container">

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card card-body mb-5">
            
            <form action="/actualizarMedico/{{rut.0}}" method="POST">
                <div class="mb-3">
                    <label class="label">RFC</label>
                    <input type="text" class="form-control" name="rfc" placeholder="RFC" value="{{rut.1}}"  required >
                </div>
                <div class="mb-3">
                    <label class="label">Nombre</label>
                    <input type="text" class="form-control" name="txtNombre" placeholder="Nombre" value="{{rut.2}}" required>
                </div>
                <div class="mb-3">
                    <label class="label">Apellido Paterno</label>
                    <input type="text" class="form-control" name="txtAP" placeholder="Apellido Paterno" value="{{rut.3}}" required>
                </div>
                <div class="mb-3">
                    <label class="label">Apellido Materno</label>
                    <input type="text" class="form-control" name="txtAM" placeholder="Apellido Materno" value="{{rut.4}}" required>
                </div>
                <div class="mb-3">
                    <label class="label">Cedula Profesional</label>
                    <input class="form-control" type="text" name="txtCedula" placeholder="Cedula Profesional" value="{{rut.5}}" required>                        
                </div>
                <div class="mb-3">
                    <label class="label">Correo</label>
                    <input class="form-control" type="text" name="txtCorreo" placeholder="Correo" value="{{rut.6}}" required>                        
                </div>
                <div class="mb-3">
                    <label class="label">Contraseña</label>
                    <input class="form-control" type="text" name="txtContra" placeholder="Contraseña" value="{{rut.7}}" required>                        
                </div>
                <div class="mb-3">
                    <select class="form-select" name="rol">
                            <option selected>Seleccione un rol</option>
                            <option value="1">Administrador</option>
                            <option value="0">Médico</option>
                        
                    </select>
                </div>
                
                <div class="d-grid gap-2"><button type="submit" class="btn btn-outline-primary">Guardar</button></div>
        
            </form>
        </div>
    </div>
</div>
</div>
    

{% endblock %}